<p id="notice"><%= notice %></p>
<thead>
  <tr>
    <center><h3>
      <b>Deceased  people list</b>
      <th colspan="3"></th>
    </h3></center>
  </tr>
</thead>
<br>
<br>

<table class="table table-dark">
  <thead>
    <tr>
      <th>name</th>
      <th>age</th>
      <th>DeathDate</th>
      <th>relationship</th>
      <th>user_id</th>
    </tr>
  </thead>

  <% @deceased.each do |deceased| %>

  <tbody>
    <tr>
      <td><%= deceased.name %></td>
      <td><%= deceased.age %></td>
      <td><%= deceased.death_date %></td>
      <td><%= deceased.relationship %></td>
      <td><%= deceased.user_id %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New deceased', new_deceased_path %>
