


<p id="notice"><%= notice %></p>



<table>
  <thead>
    <tr>
      <th>Deceased  people list</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deceased.each do |deceased| %>
    <tr>
      <th>name</th>
      <th>age</th>
      <th>DeathDate</th>
      <th>relationship</th>
      <th>user_id</th>
    </tr>

    <tr>
      <td><%= deceased.name %></td>
      <td><%= deceased.age %></td>
      <td><%= deceased.death_date %></td>
      <td><%= deceased.relationship %></td>
      <td><%= deceased.user_id %></td>
    </tr>


    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New deceased', new_deceased_path %>
