<p id="notice"><%= notice %></p>
<center>
  <thead>
    <tr>
      <h3><b><th>Deceased  people list</th></b></h3>
      <th colspan="3"></th>
    </tr>
  </thead>
</center>

<br>
<br>
<br>
<br>

<table class="table table-dark">
  <tbody>
    <thead>
      <tr>
        <th>name</th>
        <th>age</th>
        <th>DeathDate</th>
        <th>relationship</th>
        <th>user_id</th>
      </tr>
      <thead>
        <% @deceased.each do |deceased| %>
        <tbody>
          <tr>
            <td><%= deceased.name %></td>
            <td><%= deceased.age %></td>
            <td><%= deceased.death_date %></td>
            <td><%= deceased.relationship %></td>
            <td><%= deceased.user_id %></td>
          </tr>
        </tbody>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'New deceased', new_deceased_path %>
