<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_deceased_path(@deceased) %> |
<%= link_to 'Back', deceaseds_path %>
<br>
<br>

<div>
  <aside class="col-md-10">
    <div class="deceased_info">

      <table class="table table-dark">
        <thead>
          <tr>
            <th>name</th>
            <th>age</th>
            <th>death_date</th>
            <th>relationship</th>
            <th>address</th>
            <th>user_id</th>
          </tr>
        </thead>

        <tr>
          <td><%= @deceased.name %></td>
          <td><%= @deceased.age %></td>
          <td><%= @deceased.death_date %></td>
          <td><%= @deceased.relationship %></td>
          <td><%= @deceased.address %></td>
          <td><%= @deceased.user.try(:id) %></td>

        </tr>

      </table>
    </div>
  </aside>
</div>
